{include file="$tplIndexHeader" /}
<div id="right" class="right">
    <h1>添加用户</h1>
    <div class="base">
        <form action="<{:Url('index/UsrAdmin/SaveUsr')}>" method ="post" id="edit_usr" enctype="multipart/form-data">
            <input type="hidden" name="usr_id" value="<{$usr_info.id}>">
            <div class="base-row clearFix">
                <span class="base-name fl"><span class="text-red required">*</span>用户登陆名：</span>
                <input type="text" name="usr_name" class="base-input fl" value="<{$usr_info.usr_name}>">
            </div>
                 
             <div class="base-row clearFix">
                <span class="base-name fl"><span class="text-red required">*</span>增加允许接入ip：</span>
                <input type="text" name="usr_ip" class="base-input fl" value="<{$usr_info.ip}>">
            </div>
             <div class="base-row clearFix">
                <span class="base-name fl"><span class="text-red required">*</span>密码：（修改须输入原密码）</span>
                <input type="text" name="password" class="base-input fl" >
             </div> 
            <div class="base-row clearFix">
                <span class="base-name fl">&nbsp;</span>
                <input class="base-btn btn-blue fl" type="submit"></button>
                <input class="base-btn btn-gray fl" type="reset"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>